@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

.mulish {
  font-family: "Mulish", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.input-btn {
}
.input-btn input {
  padding: 16px 20px;
}
.input-btn button {
  color: white;
  background: blue;
  font-size: 18px;
  font-weight: bold;
}

.avatar::before {
  content: "";
  position: absolute;
  z-index: 10;
  display: block;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: var(--fallback-su, oklch(var(--su) / var(--tw-bg-opacity)));
  outline-style: solid;
  outline-width: 2px;
  outline-color: var(--fallback-b1, oklch(var(--b1) / 1));
  width: 20px !important;
  height: 20px !important;
  top: 7%;
  right: 7%;
}
